
body {
    background: linear-gradient(#e66465, #9198e5);;
    color: black;
}

.button1 {
    background-color: antiquewhite;
    color: #9198e5;
    font-weight: 900;
    border-radius: 0.15rem;
    height: 1.5rem;
    border: none;
    cursor: pointer;
    margin: 1rem;
    align-content: center;
}

